
/target/
/logs/
!.mvn/wrapper/maven-wrapper.jar


**/target/*
**/logs/*

**/.project
**/.classpath
**/.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr




###Angular###
*/dist/**
*/node_modules/**
*/npm/**
