<div *ngFor="let hist of cardHistories; let i = index" [attr.data-index]="i">
  <div class="jumbotron jumbotron-small">
    <div class="row">
      <div class="col-md-4">
        <span translate>Request am</span> {{ hist.requestDate | date: 'dd.MM.yyyy HH:mm:ss'}}
      </div>
      <div class="col-md-8">
        {{hist.request}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{hist.respHttpCode}} {{hist.respHttpError}}
      </div>
    </div>
    <div *ngIf="hist.respMessageDTOS.length > 0">
      <div *ngFor="let msg of hist.respMessageDTOS" class="row">
        <div class="col-md-12">
          {{msg.type}}: {{msg.text}}
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="back()" translate>Zurück</button>
