.container {
  background-color: lightgrey;
}

.header {
  background-image: url(/assets/postcardsender_logo.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.footer {
  height: 1em;
  margin-top: 4px;
  padding: 1px;
}

.beforeheader {
  height: 1em;
  padding: 1px;
}




