<h1>
  Bitte Kampagne wählen
</h1>
<div *ngFor="let campaign of campaigns; let i = index" [attr.data-index]="i">
  <div class="jumbotron jumbotron-fluid jumbotron-small">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-10">
          <b>{{campaign.desc}}</b>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary float-right" (click)="selectCampaign(campaign)">wählen</button>
        </div>
      </div>
      <div class="row">
        <div class="col-10"><span translate>Aktionsdauer</span> {{campaign.validFrom | date:'dd.MM.yyyy'}}
          - {{campaign.validTo | date:'dd.MM.yyyy'}}</div>

      </div>
      <div *ngIf="adminMode" class="row">
        <div class="col-md-2">
          <button class=" btn btn-outline-secondary" (click)="editCampaign(campaign)"><i class="fa fa-edit"
                                                                                         style="font-size: 1.5em; margin-right: 0.5em;"></i>
            Ändern
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
